<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Hi <%=@voter_username%>. You just created a new poll.
Here are the details.<br>
Title: <%=@poll.title%><br>
Content: <%=@poll.content%><br>
End Date and time: <%=@poll.end_time%><br>

</body>
</html>