<%poll.options.each do |option|%><br>
<h4><%=option.name%> <span class="label label-default"><%=pluralize(option.votes.length,'vote')%></span> </h4><br>
<%if option.votes.length>0%>
<h5>Percentage: <%=(option.votes.length/poll.votes.length)*100%>%</h5>
<%else%>
There are no votes on this option yet.
<%end%>
<br>
<%end%>

