$('document').ready(function(){
	console.log(document.URL);

	var get_notifications=function()
	{
		
  var id = current_voter_id;

		
		$.ajax({
			url:'/notifications/get_notifications',
			type: 'GET',
			dataType: 'json',
			data: {
				voter_id:id,
			},
			success: function(data)
			{
				//console.log(data);
				
				var count = data.notifications.length;
				$('#notificationbox').html('Notifications ' + '<span class="badge">'+ count + '</span><span class="caret"></span>');
				// console.log(data);
				// console.log(data.notifications);
				// console.log(data.notifications[0]);
				// console.log(data.notifications[0].id);
				//console.log($('div#notifications' + '>a#'+ data.notifications[i].id));
				$('#notifications').empty();
				if(count==0){
									$('#notifications').html('<li>No Notifications</li><li role="separator" class="divider"></li>');

				}
				for(var i=0;i<count;i++)
				{
					//console.log(data.notifications[i].id);
					//console.log($('a#'+ data.notifications[i].id).length)
					if($('a#'+ data.notifications[i].id).length==0)
						{
							//console.log($('#'+ data.notifications[i].id).length);

							
							


							$('#notifications').prepend("<div><a  href='http://localhost:3000" +data.notifications[i].link +"' id="+"'"+data.notifications[i].id+"'>"+ data.notifications[i].message + "</a></div><li role='separator' class='divider'></li>");

							$('a#'+ data.notifications[i].id).on('click',function(event)
							{

								
								console.log("in the read func");
								$.ajax({

									url:'/notifications/read',
									type:'POST',
									data: {
										notification_id: this.id
									},
									success:function()
									{
										console.log("here i am");
									}


								});
								this.remove();
								
							});
						}
				}
			// 	console.log($('div#notifications' + ' a#'+ data.notifications[0].id));
			// console.log($('div#notifications' + ' a#'+ data.notifications[1].id));
			
			}
		});
	}
if(current_voter_id)
	setInterval(get_notifications,4000);


var total_options=2;
$('#add_more_options').on('click',function()
{
	total_options=total_options+1;
	
	//<textarea class="form-control" placeholder="Add some text here" name="poll[option_1]" id="poll_option_1"></textarea>
	$('#new_poll_options').append('<div class="input-group input-group-sm"><label class="input-group-addon" for="poll_1">'+ total_options +  ':</label><textarea class="form-control" placeholder="Add some text here" name ="poll[option_' + total_options  + ']"' + ' id="poll_option_' + total_options +'"'+'></textarea></div>' );
	if(total_options==5)
		$('#add_more_options').remove();

});



});